body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

img{
    max-width: 100%;
   height: auto;
}

h1{
    background-color: #00417F;
    color: white;
    padding: 0.5em 1em;
}

@media only screen and (max-width: 1040px) {
    body {
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }
    img{
        max-width: 90%;
        height: auto;
    }
  }